* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img, svg, video {
    display: block;
    width: 100%;
}

body {
    background-color: #cfc4b2;
}

h1 {
    /* margin: 0 auto; */
    font-family: "cofo-sans-pixel", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: #5D5147;
    /* text-align: center; */
}


h2 {
    /* margin: 0 auto; */
    font-family: "cofo-sans-pixel", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #141414;
    font-size: 2rem;
    margin-top: 30px;


}

h3 {
    /* margin: 0 auto; */
    font-family: "cofo-sans-pixel", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #141414;
    text-align: center;
}
h4{
    font-family: "cofo-sans-pixel", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #141414;
    text-align: center;  
}

h5 {
    font-family: "cofo-sans-pixel", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #141414;
}


p {
    font-family: "cofo-sans-pixel", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #141414;
}


.eight-col {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
    /* border: 1px solid red; */
}

.span-4 {
    grid-column: span 4;
}

.navbar {
    font-family: "cofo-sans-pixel", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    /* background-color: #141414; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* padding: 12px; */
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
    /* position: fixed; */
    width: 100%;
    /* margin: 0 60px; */

    /* min-height: 120px; */
    /* border: 1px solid red; */
    border-bottom: 1px solid black;
}

a {
    color: #141414;
    text-decoration: none;
}

.site-title {
    width: 100%;

}

.home {
    display: flex;
    align-items: center;
    margin-top: 80px;
    /* min-height: 90vh; */
    /* background:url('https://cdn.sanity.io/images/u917thx2/production/54e51b9449d6f2b7a224e7b8fd3ef6ba9cbfa908-2880x2057.jpg?w=2880&h=2057&auto=format'); */
    /* box-sizing: border-box; */
    background-color: #cfc4b2;
}
.featured-piece{
    /* border: 1px solid red; */
    margin-top: 80px;
    margin-bottom: 80px;
}

.featured-piece h5{
    width: 100%;
    margin-top:143px;
    margin-bottom: 81px;
    margin-right: 190px;
    margin-left: 115px;
    /* text-align: center; */

}
.featured-piece p{
    /* width: 100%;
    text-align: center; */
    /* margin-bottom: 128px; */
    margin-left: -15px;
    margin-right: 100px;
    /*line-height: 19px;*/ /*150%* */
    width: 400px;
    /* height: 155px; */
    /* flex-shrink: 0; */
}
/* .featured-piece h4{
    margin-top: 600px; */
    /* margin-right: 500px; */
    /* margin-left: 0 auto; */
    /* padding-right: px; */
    /* text-align: center; */
    /* width: 350px; */


.eight-col-two{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
    /* border: 1px solid red; */
}
.eight-col-three{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
}
.eight-col-four{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
}
.eight-col-four{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
}

.home-image {
    width: 552px;
    height: 564px;
    min-width: 100%;
    flex-shrink: 0;
    /* position:relative; */
    /* background-image: url('images copy/2024-ICA-OP_Morehshin-Allahyari_tsui-10 1.jpg'); */
    /* background-size: 100% 100%; */
    /* border: 1px solid red; */
}


.navbar a {
    /* color: #cfc4b2; */
    font-weight: 500;
}

.navbar a:hover {
    color: #cbdbd8
}

.button {
    width: 300px;
    height: 154px;
    flex-shrink: 0;
    border-radius: 52px;
    border: 3px solid var(--Very-Dark-Gray, #141414);
    background: rgba(217, 217, 217, 0.00);
    margin-left: 300px;
  
 
}

.ica-logo {
    width: 101px;
    height: 92px;
    flex-shrink: 0;
    margin-left: 36px;
    margin-top: 35px;
    margin-bottom: 27px;
}
 .text-home{
   margin: 0 auto;
   margin-top: 100px;
} 

.container {
    width: 100%;
    height: 100%;
    border:50px red; 
    padding: 100px;
    padding-left: 2;
    padding-right: 2;
    margin: 0px auto;
    background-color: #141414;
    position: relative;
    display: flex;
    justify-content: center;

}

.container-two {
    background-color: #cfc4b2;
    width: 100%;
    margin: 0px auto;
    /* max-width: 100%; */
    position: relative;

}

.line {
    width: 100%;
    height: 8px;
    margin-top: 20px;
    background-color: #141414;
}

.container h2 {
    padding-left: 35px;
    font-size: 2rem;

}

.container p {
    padding-left: 150px;
    padding-right: 5px;
}

.container h5 {
    margin-top: 50px;
    padding-left: 500px;
    padding-bottom: 35px;
}

.goto-gallery {
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0px auto;
    background-color: #141414;
    padding: 100px;
    padding-left: 1;
    padding-right: 1;

}

.button-gallery h2 {
    color: #141414;
    margin-left: 55px;
    margin-top: 35px;
    margin-bottom: 27px;
    padding-top: 50px;
}

.button-gallery {
    width: 250px;
    height: 135px;
    background-color: #cfc4b2;
    border-radius: 52px;
    margin: 0 auto;
} 
.gallery-backbar{
    width:100%;
}
.artist-title{
    width: 100%;
    background-color: #141414;
    height: 100%;
    margin: 0px auto;
    padding: 100px;
    padding-left: 1;
    padding-right: 1;
}
.art-title{
    width: 60%;
    margin-left: 500px;
    /* width: 300px;
    height: 383.263px; */

}